<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:8px; display:flex; align-items: center; justify-content: space-between;">
    <div class="col-9" style="flex: 1;>
        <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
            {{job['position']}}
        </h4>
        <div>
            <b>Location:</b> {{job['location']}}
        </div>
        {% if 'salary' in job %}
        <div>
            <b>Salary:</b> {{job['salary']}}
        </div>
       
        {% endif %}
    </div>
    <div class="col-3 d-flex align-items-start justify-content-end"  style="display: flex; justify-content: flex-end; align-items: flex-start; flex: 0;">
        <button type="button" class="btn btn-outline-primary">APPLY</button>
    </div>
</div>
